*{
    color: blue;
    background-color: bisque;
}
#sid{
    color: rgb(224, 9, 27);
    text-align: center;
}

#vishensd{
    text-align: center;
    margin: 10px;
    border:10px solid green;
    padding: 40px;
    right:10px;
    position: absolute;
    right: 600px;
    background-color:aquamarine;
}